<template>
<div class="main-content">
    <h4 v-show="Title" style="background-color: #eeeeee;padding: 10px;">{{Title}}</h4>
    <div v-if="Listing.length < 1">Nothing found!!</div>
    <div class="product-wrapper row cols-lg-4 cols-md-3 cols-sm-2 cols-2">
        <div class="product-wrap" v-for="product in Listing" :key="product.id">
            <router-link :to="{name:'ShopProduct', params: { url: product.seo_url }}">
                <div class="product text-center">
                    <figure class="product-media">
                        <img :src="Appurl+'assets/product_images/'+product.primary_image" alt="Product" width="300" height="338" />

                    </figure>
                    <div class="product-details">
                        <div class="product-cat">
                            <a href="#"></a>
                        </div>
                        <h3 class="product-name">
                            <a href="#">{{product.title}}</a>
                        </h3>
                        <div class="product-pa-wrapper" v-if="product.product_type==='simple_product'">
                            <div class="product-price" v-if="product.special_price > 0">
                                <ins class="new-price">{{Company.currency}} {{product.special_price}} </ins>
                                <del class="old-price">{{Company.currency}} {{product.regular_price}} </del>
                            </div>
                            <div class="product-price" v-else>
                                <del class="new-price">{{Company.currency}} {{product.regular_price}} </del>
                            </div>
                        </div>
                        <div class="product-pa-wrapper" v-else>
                            <div class="product-price">
                                <del class="new-price">{{Company.currency}} {{product.price_range_min}} - {{Company.currency}} {{product.price_range_max}} </del>
                            </div>
                        </div>
                    </div>
                </div>
            </router-link>
        </div>        
    </div>

    <div class="trenddiv" v-if="ListingBlogs.length > 0">
            <span class="trendspan">
                <h4 data-v-0d3c4ae4="" style="background-color: rgb(238, 238, 238); padding: 10px;">BLOGS</h4>
            </span>
    </div>
    <div class="product-wrapper row cols-lg-4 cols-md-3 cols-sm-2 cols-2">       
        <div v-for="blog in ListingBlogs" :key="blog.id">
            <router-link :to="{name:'BlogPost', params: { url: blog.seo_url }}" @click="closeWindow">
                <div class="autocomplete-suggestion" data-index="0">
                    <img class="search-image" :src="Appurl+'assets/product_images/'+blog.primary_image">
                    <div class="search-info">
                        <div class="search-name">{{blog.post_title}}</div>
                        <span class="search-price">
                            <span class="woocommerce-Price-amount amount">

                            </span>
                        </span>
                    </div>
                </div>
            </router-link>
        </div>
    </div>


    <div class="toolbox toolbox-pagination justify-content-between">
        <p class="showing-info mb-2 mb-sm-0">
            <!--Showing<span>1-12 of 60</span>Products-->
        </p>

        <PaginationBar v-if="Type==='shoptaxo'" :Meta="getMetaShoptaxo" v-on:pagination="fetchProductsShoptaxo"></PaginationBar>
        <PaginationBar v-if="Type==='shopbrand'" :Meta="getMetaShopbrand" v-on:pagination="fetchProductsShopbrand"></PaginationBar>
        <PaginationBar v-else :Meta="getMeta" v-on:pagination="fetchProducts"></PaginationBar>

    </div>
</div>
</template>

<script>
import PaginationBar from '../sections/PaginationBar.vue'
import {
    mapState
} from 'vuex'
import {
    mapGetters
} from 'vuex'
import {
    mapActions
} from 'vuex'

export default {
    name: 'search-main',
    props: {
        Appurl: String,
        Company: Object,
        Listing: Array,
        ListingBlogs: Array

    },
    data() {
        return {

        }
    },

}
</script>

<style scoped>

</style>
