<template>
    <div class="shop-default-brands mb-5">
        <div class="brands-swiper swiper-container swiper-theme " data-swiper-options="{
                                    'slidesPerView': 2,
                                    'breakpoints': {
                                        '576': {
                                            'slidesPerView': 3
                                        },
                                        '768': {
                                            'slidesPerView': 4
                                        },
                                        '992': {
                                            'slidesPerView': 6
                                        },
                                        '1200': {
                                            'slidesPerView': 7
                                        }
                                    },
                                    'autoplay': {
                                        'delay': 4000,
                                        'disableOnInteraction': false
                                    }
                                }">
            <div class="swiper-wrapper row gutter-no cols-xl-7 cols-lg-6 cols-md-4 cols-sm-3 cols-2">
                <div class="swiper-slide" v-for="brand in Brands" :key="brand.id">
                    <figure>
                        <router-link :to="{name:'ShopBrands',params:{title:brand.brand_title}}">
                            <img :src="Appurl+'assets/brand_images/'+brand.brand_logo" alt="Brand" width="160" height="90" class="brandimage" />
                        </router-link>
                    </figure>
                </div>
                
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
</template>

<script>
export default {
    name: 'shop-brands',
    props: {
        Appurl: String,
        Brands: Array
    }
}
</script>
<style scoped>
.brandimage{
        -webkit-filter: grayscale(1);
}
</style>